<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="My Quiz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BootcampApp"
        tools:targetApi="31">
        <activity
            android:name=".Screens.Screens.Helper.G_CloudActivity"
            android:exported="false" />
        <activity
            android:name=".Screens.Screens.Helper.FlutterActivity"
            android:exported="false" />
        <activity
            android:name=".Screens.Screens.Helper.WebDevActivity"
            android:exported="false" />
        <activity
            android:name=".Screens.Screens.Helper.AndroidActivity"
            android:exported="false" />
        <activity
            android:name=".Screens.Screens.Authentication"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".Screens.Screens.MainActivity"
            android:exported="false" />
    </application>

</manifest>